---
{{- $database := .Values.config.database | default dict }}
{{- if not (index $database "existingSecret") }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "autoscout.fullname" . }}-database
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "autoscout.labels" . | nindent 4 }}
type: Opaque
data:
  username: {{ (index $database "username" | default "") | b64enc | quote }}
  password: {{ (index $database "password" | default "") | b64enc | quote }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "autoscout.fullname" . }}-github
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "autoscout.labels" . | nindent 4 }}
type: Opaque
data:
  token: {{ (.Values.config.github.token | default "") | toString | b64enc | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "autoscout.fullname" . }}-auth0
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "autoscout.labels" . | nindent 4 }}
type: Opaque
data:
  client_id: {{ (.Values.config.auth0.client_id | default "") | toString | b64enc | quote }}
  management_client_id: {{ (.Values.config.auth0.management.client_id | default "") | toString | b64enc | quote }}
  management_secret: {{ (.Values.config.auth0.management.secret | default "") | toString | b64enc | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "autoscout.fullname" . }}-coinbase
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "autoscout.labels" . | nindent 4 }}
type: Opaque
data:
  api_key: {{ (.Values.config.coinbase.api_key | default "") | toString | b64enc | quote }}
  webhook_secret: {{ (.Values.config.coinbase.webhook_secret | default "") | toString | b64enc | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "autoscout.fullname" . }}-sendgrid
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "autoscout.labels" . | nindent 4 }}
type: Opaque
data:
  api_key: {{ (.Values.config.sendgrid.api_key | default "") | toString | b64enc | quote }}
---
{{- if .Values.config.envFromSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "autoscout.fullname" . }}-env
  labels:
    {{- include "autoscout.labels" . | nindent 4 }}
type: Opaque
data:
{{- range $key, $value := .Values.config.envFromSecret }}
  {{ $key }}: {{ ($value | default "") | toString | b64enc }}
{{- end }}
{{- end }}
